<ion-header>
  <ion-toolbar>
    <ion-title>
      Sobre Reciclagem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-title class="ion-padding">O que é reciclagem</ion-card-title>
      <ion-grid>
         <ion-row >
            <ion-col >          
                   
                        <ion-col size="1">
                           
                        </ion-col>
                        <ion-col>

                          <ion-text  wrap = "wrap">Entender o que é reciclagem é simples: trata-se de pegar algo que não tem mais utilidade e transformá-lo novamente em matéria-prima para que se forme um item igual ou sem relação com o anterior. Isso é feito de várias maneiras e vemos o resultado desse processo no nosso cotidiano.

                              Esse é o caso de alguns bens de consumo, como latas de alumínio, papel de escritório e recipientes de plástico. Esses materiais são reciclados em grandes quantidades. Aliás, a reciclagem desse tipo de material era comum no início do século XX, quando muitos produtos eram reutilizados devido às crises econômicas (como a de 1929) e às guerras mundiais. Na década de 1940, produtos como o náilon, a borracha, papel e muitos metais eram racionados e reciclados, para ajudar a suportar o esforço da Segunda Guerra Mundial (1939-1944).
                              
                              Após esse período de recessão, países como os EUA viveram momentos de grande prosperidade econômica que impulsionaram uma cultura de consumo e desperdício. No caso da Europa – que ficou praticamente destruída após a guerra –, a implantação do Plano Marshall (que estabelecia ajuda de 17 bilhões de dólares dada pelos EUA a países devastados pela guerra) ajudou a reconstrução econômica de nações como Inglaterra, França, Alemanha e Itália.
                              
                              Dessa forma, tanto Estados Unidos como os países da Europa viveriam anos de colaboração comercial que trariam novamente êxito econômico, contribuindo muito para uma sequência de décadas de abundância na fabricação de bens de consumo. Sendo assim, foi só nos anos 1970 que a reciclagem voltou a fazer parte das discussões sociais, destacando-se a criação do Dia da Terra - iniciada pelo senador estadunidense Gaylord Nelson, ativista ambiental, para a criação de uma agenda ambiental.
                              
                              Atualmente, o termo reciclagem faz parte do cotidiano de milhões de pessoas ao redor do planeta, inclusive no Brasil.</ion-text>
                        </ion-col>
                      
            </ion-col>
          </ion-row>
      </ion-grid>
      
    <ion-card-title class="ion-padding">Como reciclar?</ion-card-title>
      <ion-grid>
         <ion-row >
            <ion-col >          
                   
                        <ion-col size="1">
                           
                        </ion-col>
                        <ion-col>

                          <ion-text  wrap = "wrap">Existem várias formas de destinar seu lixo para reciclagem. Em princípio, se um produto for reciclável, basta descartá-lo de forma correta nos cestos apropriados. Porém, nem todos os bairros, condomínios e casas possuem serviço de coleta seletiva e muitas vezes o descarte pode ser feito por meio de postos independentes (veja como localizar postos de reciclagem próximos à sua residência). Em outras ocasiões, a prefeitura municipal se encarrega desse serviço.

                              Também é importante dizer que o avanço tecnológico pode fazer com que um item que atualmente não é reciclável, torne-se reciclável no futuro.Também é importante dizer que o avanço tecnológico pode fazer com que um item que atualmente não é reciclável, torne-se reciclável no futuro.</ion-text>
                            <ion-text>
                                Para os que já são recicláveis, é preciso ter alguns cuidados especiais antes de enviá-los para coleta seletiva.
                            </ion-text>
                            </ion-col>
                      
            </ion-col>
          </ion-row>
      </ion-grid>
    <ion-card-title class="ion-padding">Plastico</ion-card-title>
      <ion-grid>
         <ion-row >
            <ion-col >          
                   
                        <ion-col size="1">
                           
                        </ion-col>
                        <ion-col>

                          <ion-text  wrap = "wrap">Consiste em transformar os plásticos 
                            (tanto os oriundos de sobra industrial - sobras virgens do
                             processo produtivo - quanto os descartados pós-consumo -
                              materiais recuperados no lixo por meio da coleta seletiva)
                               em pequenos grânulos, que podem ser utilizados na produção
                                de novos materiais, como sacos de lixo, pisos, mangueiras,
                                 embalagens não-alimentícias,
                                  peças de automóveis etc.</ion-text>
                        </ion-col>
                      
            </ion-col>
          </ion-row>
      </ion-grid>
    <ion-card-title class="ion-padding">Papel</ion-card-title>
      <ion-grid>
         <ion-row >
            <ion-col >          
                   
                        <ion-col size="1">
                           
                        </ion-col>
                        <ion-col>

                          <ion-text  wrap = "wrap">A grande quantidade de papel
                             que é consumida no mundo causa graves problemas ambientais,
                              como o desmatamento de florestas. Para conter esse problema,
                               uma das soluções é a reciclagem, que reaproveita o papel
                                usado para produzir outro novo em folha; a reciclagem é
                                 simples e barata.</ion-text>
                        </ion-col>
                      
                        <ion-card-subtitle>Fonte:https://www.ecycle.com.br/2046-reciclagem </ion-card-subtitle>
            </ion-col>
          </ion-row>
      </ion-grid>
      
</ion-content>
