<ion-header>
  <ion-toolbar>
    <ion-title>
      Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-subtitle class="ion-padding">O que é Reciclagem?</ion-card-subtitle>
      <ion-grid>
         <ion-row >
            <ion-col >
              
                   
                      <ion-item>
                        <ion-col size="1">
                            <ion-checkbox color="primary"></ion-checkbox>
                        </ion-col>
                        <ion-col>

                          <ion-text wrap = "wrap"> Processo de transformação de materiais usados em novos produtos para consumo.  </ion-text>
                        </ion-col>
                       
                      </ion-item>
                      <ion-item>
                        <ion-col size="1">
                            <ion-checkbox color="primary"></ion-checkbox>
                        </ion-col>
                        <ion-col>

                          <ion-text wrap = "wrap">  “Jogar fora” o lixo produzido. </ion-text>
                          </ion-col>
                       
                      </ion-item>
                      <ion-item>
                        <ion-col size="1">
                            <ion-checkbox color="primary"></ion-checkbox>
                        </ion-col>
                        <ion-col>

                          <ion-text wrap = "wrap"> Coletar todo tipo de material existente em lixos recicláveis.  </ion-text>
                        </ion-col>
                       
                      </ion-item>
                      <ion-item *ngFor="let quest of quests">
                        <ion-col size="1">
                            <ion-checkbox color="primary"></ion-checkbox>
                        </ion-col>
                        <ion-col>

                          <ion-text wrap = "wrap"> {{quest.email}} </ion-text>
                        </ion-col>
                       
                      </ion-item>
   
   
  
                      

                  
               
            </ion-col>
          </ion-row>
      </ion-grid>
      
      
</ion-content>
