<ion-header>
  <ion-toolbar>
    <ion-title>
      Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col >
          <ion-card href="/tabs/tab4" class="ion-text-center">
              <ion-card-header>
                <ion-card-subtitle>Quiz 01</ion-card-subtitle>
                <ion-card-title>Quiz - Reciclagem</ion-card-title>
              </ion-card-header>
            </ion-card>
         
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col >
          <ion-card class="ion-text-center">
              <ion-card-header>
                <ion-card-subtitle>Quiz 02</ion-card-subtitle>
                <ion-card-title>Quiz - Baterias</ion-card-title>
              </ion-card-header>               
            </ion-card>
         
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
