<ion-header>
  <ion-toolbar>
    <ion-title>
      Dicas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col >
          <ion-card  (click)=telaRota(urlTab4)  class="ion-text-center">
              <ion-card-header>
                <ion-card-subtitle>Dicas Gerais</ion-card-subtitle>
                <ion-card-title>Como ajudar fazendo pouco</ion-card-title>
              </ion-card-header>
            </ion-card>
         
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col >
          <ion-card (click)=telaRota(urlTab5)  class="ion-text-center">
              <ion-card-header>
                <ion-card-subtitle>Dicas</ion-card-subtitle>
                <ion-card-title>Reciclagem</ion-card-title>
              </ion-card-header>
               </ion-card>
         
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col >
          <ion-card class="ion-text-center">
              <ion-card-header>
                <ion-card-subtitle>Mapa</ion-card-subtitle>
                <ion-card-title>Localizações sobre reciclagem</ion-card-title>
              </ion-card-header>
               </ion-card>
         
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
