<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor= "let user of users">
  <ion-list class="ion-padding" lines="inset" >
    <ion-item lines="none">
      <ion-avatar  slot="start">
          <img src={{icon}}{{user.email}}>
        </ion-avatar>
        <ion-label>{{user.nome}}</ion-label>
      </ion-item>
    </ion-list>
      <ion-grid>
          <ion-row >
            <ion-col >
                <ion-card class="ion-text-center">
                    <ion-card-header>
                       
                      <ion-card-subtitle>

                        Nivel Ecologico

                      </ion-card-subtitle>
                      <ion-card-title>

                          {{user.nomeNivel}}

                      </ion-card-title>
                    </ion-card-header>
                  
                    <ion-card-content>
                      <ion-label>
                        Pontos:
                      </ion-label>
                        <ion-badge size="large" color="primary">{{user.nivel}}</ion-badge>
                    </ion-card-content>
                  </ion-card>
               
            </ion-col>
          </ion-row>
 
          <ion-row >
            <ion-col >
                <ion-card class="ion-text-center">
                    <ion-card-header>
                      <ion-card-subtitle>Suas Conquistas</ion-card-subtitle>
                      <ion-card-title>Conquistas</ion-card-title>
                    </ion-card-header>
                  
                    <ion-card-content>
                        <ion-icon  size="large" name="help"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                        <ion-icon  size="large" name="planet"></ion-icon>
                    </ion-card-content>
                  </ion-card>
               
            </ion-col>
          </ion-row>
      </ion-grid>
      
      
</ion-content>
