<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor= "let user of users">
  <ion-list class="ion-padding" lines="inset" >
    <ion-item lines="none">
      <ion-avatar  slot="start">
          <img src={{icon}}{{user.email}}>
        </ion-avatar>
        <ion-label>{{user.nome}}</ion-label>
      </ion-item>
    </ion-list>
      <ion-grid>
          <ion-row >
            <ion-col >
                <ion-card class="ion-text-center">
                    <ion-card-header>
                       
                      <ion-card-subtitle>

                        Nivel Ecologico

                      </ion-card-subtitle>
                      <ion-card-title>

                          {{user.nomeNivel}}

                      </ion-card-title>
                    </ion-card-header>
                  
                    <ion-card-content>
                      <ion-label>
                        Pontos:
                      </ion-label>
                        <ion-badge size="large" color="primary">{{user.nivel}}</ion-badge>
                    </ion-card-content>
                  </ion-card>
               
            </ion-col>
          </ion-row>
 
          <ion-row >
            <ion-col >
                <ion-card class="ion-text-center">
                    <ion-card-header>
                      <ion-card-subtitle>Suas Conquistas</ion-card-subtitle>
                      <ion-card-title>Medalhas</ion-card-title>
                    </ion-card-header>
                  
                    <ion-card-content>
                        <ion-card-subtitle tooltip = "Carai" *ngIf=" user.nivel == '0'">Você não possui medalhas, faça Quests para obte-las.</ion-card-subtitle>
                        <ion-icon   class="ion-padding" size="large" name="logo-game-controller-b" *ngIf=" user.nivel >3"></ion-icon>
                        <ion-icon  class="ion-padding" size="large" name="logo-freebsd-devil"  *ngIf=" user.nivel >7"></ion-icon>
                        <ion-icon class="ion-padding" size="large" name="bicycle"  *ngIf=" user.nivel >12"></ion-icon>
                        <ion-icon  class="ion-padding" size="large" name="bus"  *ngIf=" user.nivel >15"></ion-icon>
                        <ion-icon  class="ion-padding" size="large" name="heart-half"  *ngIf=" user.nivel >18"></ion-icon>
                        <ion-icon  class="ion-padding" size="large" name="globe"  *ngIf=" user.nivel >21"></ion-icon>
                        <ion-icon  class="ion-padding" size="large" name="planet"  *ngIf=" user.nivel >24"></ion-icon>
                        <ion-icon  class="ion-padding" size="large" name="trophy"  *ngIf=" user.nivel >27"></ion-icon>
                        <ion-icon  class="ion-padding" size="large" name="thumbs-up"  *ngIf=" user.nivel >30"></ion-icon>
                        <ion-icon  class="ion-padding" size="large" name="paw"  *ngIf=" user.nivel >33"></ion-icon>
                        <ion-icon  class="ion-padding" size="large" name="ribbon"  *ngIf=" user.nivel >36"></ion-icon>
                        <ion-icon  class="ion-padding" size="large" name="rocket"  *ngIf=" user.nivel >39"></ion-icon>
                      </ion-card-content>
                  </ion-card>
               
            </ion-col>
          </ion-row>
      </ion-grid>
      
      
</ion-content>
